name: Github action to deploy node server
run-name: ${{github.actor}} deploying code changes
on: [push]
jobs:
  build-angular-app:
    runs-on: ubuntu
    steps:
      - uses: actions/checkout@4
      - uses: actions/setup-node@4
        with:
          node-version: 20
      - run: npm install
      - run: npm run build
